<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .elements{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        ol{
            display: flex;
            flex-direction: row;
        }
        li{
            background-color: aqua;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100px;
            height: 100px;
        }
    </style>
</head>
<body>
    <div class="elements">
    <%for(let i=0;i<array.length;i++){%>
        <ol>
            <li><%=array[i]+"\n"%></li>
        </ol>
       <%}%>
    </div>
    <%-include("breakfast.ejs")%>
    <form action="/delete" method="POST">
        <input type="submit" value="delete">
    </form>
</body>
</html>